.advantages__container {
    height: 507px;
    position: relative;
    &::after {
        content: url("../../img/decor/line.svg");
        position: absolute;
        bottom: 71px;
    }
}

.advantages__list {
    display: flex;
    margin-top: 82px;
}

.advantages__item {
    margin-right: -86px;
    
    &:last-child{
        margin-left: 80px;
    }
}

.advantages__img {
    margin-bottom: 25px;
}

.advantages__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.advantages__desc {
    width: 57%;
    margin-bottom: 48px;
    color: #283136;
}