.grid__title {
    font-weight: 700;
    font-size: 18px;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.grid__items {
    margin-bottom: 14px;
    color: #283136;
}

