header {
    background-color: $backgroundGrey;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}


.header__logo__img {
    background-image: url("../../img/logo/nerds-logo.svg");
    width: 159px;
    height: 67px;
    cursor: pointer;

    &:hover {
        background-image: url("../../img/logo/nerds-logo1.svg");
    }

    &:focus {
        background-image: url("../../img/logo/nerds-logo2.svg");
    }
}

.header__bin {
    display: flex;
    margin-top: 30px;
}

.bin__icon {
    margin-top: 3px;
}

.bin__text {
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 27px;

    &:hover {
        color: #FB565A;
    }

    &:focus {
        opacity: 0.3;
    }
}